//	===============================
//			@Import	Colors
//	===============================

$white: #fff;
$black: #000;
$blue-green: #259995;
$blue-green-alt: #060000;

$loader-black: #000;
$sub-color: #e9e9ec;
$alice-blue: #e6f1f8;

$primary: #1b55e2;
$info: #2196f3;
$success: #8dbf42;
$warning: #e2a03f;
$danger: #e7515a;
$danger-alt: rgb(115, 23, 29);
$secondary: #5c1ac3;
$dark: #3b3f5c;

$l-primary: #c2d5ff;
$l-info: #bae7ff;
$l-success: #e6ffbf;
$l-warning: #ffeccb;
$l-danger: #ffe1e2;
$l-secondary: #dccff7;
$l-dark: #acb0c3;
// Define Sass variables for colors
$whiteColor: #ffffff;
$blackColor: #060000;
$greyColor: #858293;
$greyWidthOpacityColor: #d9d9d9;
$greyTextLabelColor: #acacac;
$greyBoldColor: #7a869a;
$babyBlueColor: #bae5f4;
$blueColor: #53c3ea;
$redColor: #fc0d1b;
$greyWithOpacityColor: #acacac;
$green: #18b81e;
$mixedColor: #fc0d1b3d;
$fuchsia: #7b61ff;

$stepperColorWidthOpacity: #61d9d5;
$blue-greenColor: #fb5c71;
$scheduleColor: #121942;
$scheduleUnSelectedColor: #171725;
$darkBlueColor: #0072aa;
