.datatable-card {
  background: $white;
  padding: 0 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
// .p-selectable-row {
//   background-color: $white;
// }

.p-datatable {
  .p-column-header-content {
    justify-content: center;
  }
}
.p-paginator .p-dropdown {
  padding-right: 1rem;
}
.p-datatable .p-datatable-header,
.p-datatable .p-datatable-thead > tr > th {
  background-color: $white !important;
}
.custom-form-table {
  thead > tr > th,
  .thead-nested {
    background-color: $blue-green;
    color: $white;
  }
}

.p-datatable .p-datatable-tbody > tr,
.p-paginator,
.p-paginator .p-dropdown,
.p-dropdown-items-wrapper {
  background-color: $white;
}
.p-dropdown-items-wrapper .p-highlight {
  background-color: $blue-green !important;
  color: $white !important;
}
